.wd-btn-ovrd-shape {
    border-radius: 20px;
}

.wd-tuit-section .wd-btn-ovrd-shape-twt {
    border-radius: 20px;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-box-search {
    width: 85%;
}

.wd-tuit-section .wd-search-input-sm {
    width: 98%;
    border-radius: 20px;
    border: 1px solid rgb(110, 118, 125);
    box-shadow: none;
}

.wd-tuit-section .wd-search-input-lg {
    width: 98%;
    border-radius: 20px;
    border: 1px solid rgb(110, 118, 125);
    box-shadow: none;
}

.wd-search-input-sm::placeholder {
    padding-left: 30px;
}

.wd-search-input-sm:focus {
    padding-left: 32px;
    border: 1px solid black;
}

.wd-tuit-section .wd-headline-box-sm {
    color: white;
    height: 0px;
    position: relative;
    bottom: 35px;
    padding-left: 10px;
}

.wd-tuit-section .wd-headline-box-lg {
    color: white;
    height: 0px;
    position: relative;
    bottom: 50px;
    padding-left: 10px;
}

.wd-headline {
    color: white;
}

.wd-headline-relevance {
    color: white;
}

.wd-image-headline {
    width: 100%;
}

.wd-search-text {
    color: gray;
}

.wd-tuit-section .wd-search-input-sm:focus::placeholder {
    padding-left: 0px;
}

.wd-tuit-section .wd-search-input-lg::placeholder {
    padding-left: 30px;
}

.wd-tuit-section .wd-search-input-lg:focus {
    padding-left: 30px;
}

.wd-tuit-section .wd-search-input-lg:focus::placeholder {
    padding-left: 0px;
}

.wd-tuit-section .wd-search-icon {
    position: relative;
    left: 20px;
    width: 1px;
}

.wd-tuit-section .flex-box-gear {
    width: 10%;
    color: #0d6efd;
}

.zindex-bring-to-front {
    z-index: 10;
}

.wd-profile-image {
    float: left;
    position: relative;
    top: 6px;
    right: 6px;
}

.wd-image-frame-business {
    border-radius: 2px;
}

.wd-image-frame-profile {
    border-radius: 20px;
}

.wd-follow-box {
    float: right;
}

.wd-profile-info {
    float: left;
    min-width: max-content;
}

.wd-profile-suggestion {
    min-width: max-content;
}

.wd-content-width {
    min-width: max-content;
}

.wd-float-done {
    clear: both;
}

.wd-image-headline-container {
    width: fit-content;
    max-width: content-box;
}

.wd-image-post-box img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.wd-post-relevance {
    color: rgb(110, 118, 125);
}

.wd-post-relevance b {
    color: black;
}

.wd-more-shuffle-left {
    position: relative;
    margin: 0;
    padding: 0;
}

.wd-move-left {
    right: 3%;
}

.wd-side-borders {
    border-left: lightgrey solid 1px;
    border-right: lightgrey solid 1px;
}

.wd-top-border {
    border-top: lightgrey solid 1px;
}

.wd-container-middle {
    display: flex;
    justify-content: left;
}

.wd-info-box {
    float: left;
    width: 33%;
    margin: 0;
}

.wd-info-box-last {
    float: left;
    width: 100%;
    margin: 0;
}

