.wd-btn-ovrd-shape {
    border-radius: 20px;
}

.wd-btn-ovrd-shape-twt {
    border-radius: 20px;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.wd-flex-box-search {
    width: 85%;
    color: gray;
}

.wd-search-input-sm {
    width: 98%;
    border-radius: 20px;
    border: 1px solid rgb(110, 118, 125);
    box-shadow: none;
    background-color: white;
    color: gray;
}

.wd-search-input-lg {
    width: 98%;
    border-radius: 20px;
    border: 1px solid rgb(110, 118, 125);
    box-shadow: none;
    background-color: white;
}

.wd-search-input-sm::placeholder {
    padding-left: 30px;
}

.wd-search-input-sm:focus {
    padding-left: 32px;
    border: 1px solid black;
}

.wd-headline-box-sm {
    color: white;
    height: 0px;
    position: relative;
    bottom: 50px;
    padding-left: 10px;
}

.wd-headline-box-lg {
    color: white;
    height: 0px;
    position: relative;
    bottom: 60px;
    padding-left: 10px;
}

.wd-headline {
    color: white;
}

.wd-headline-relevance {
    color: white;
}

.wd-image-headline {
    width: 100%;
}

.wd-search-text {
    color: gray;
}

.wd-search-input-sm:focus::placeholder {
    padding-left: 0px;
    color: gray;
}

.wd-search-input-lg::placeholder {
    padding-left: 30px;
    color: gray;
}

.wd-search-input-lg:focus {
    padding-left: 30px;
}

.wd-search-input-lg:focus::placeholder {
    padding-left: 0px;
    color: gray;
}

.wd-search-icon {
    position: relative;
    left: 20px;
    width: 1px;
    color: gray;
}

.flex-box-gear {
    width: 10%;
}

.wd-profile-image {
    float: left;
    position: relative;
    top: 6px;
    right: 6px;
}

.wd-image-frame-business {
    border-radius: 2px;
}

.wd-image-frame-profile {
    border-radius: 20px;
}

.wd-image-frame-profile-post {
    border-radius: 25px;
}

.wd-follow-box {
    float: right;
}

.wd-profile-info {
    float: left;
    min-width: max-content;
}

.wd-profile-suggestion {
    min-width: max-content;
}

.wd-content-width {
    min-width: max-content;
}

.wd-float-done {
    clear: both;
}

.wd-image-headline-container {
    width: fit-content;
    max-width: content-box;
}

.wd-image-post-box img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.wd-post-relevance {
    color: rgb(110, 118, 125);
}


.wd-more-shuffle-left {
    position: relative;
    margin: 0;
    padding: 0;
}

.wd-move-left {
    right: 3%;
}

.wd-side-borders {
    border-left: lightgrey solid 1px;
    border-right: lightgrey solid 1px;
}

.wd-top-border {
    border-top: lightgrey solid 1px;
}

.wd-container-middle {
    display: flex;
    justify-content: left;
}

.wd-info-box {
    float: left;
    width: 33%;
    margin: 0;
}

.wd-info-box-last {
    float: left;
    width: 100%;
    margin: 0;
}

.wd-nav-link-box {
    min-width: max-content;
    max-width: max-content;
}

.wd-list-group {
    min-width: max-content;
}

.wd-tabs li {
    display: inline;
}
.wd-tabs {
    padding-left: 0px;
}
.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}
.wd-nudge-up {
    bottom: 18px;
    left: 25px;
}
.wd-bottom-2 {
    bottom: 2px;
}
.wd-bottom-4 {
    bottom: 4px;
}

.wd-post-interaction-item {
    width: 25%;
    float: left;
}

.wd-post-interaction-button {
    border: none;
    background-color: transparent;
}

.wd-clean-link {
    text-decoration: none;
}

.wd-post-list-item {
    border: lightgrey solid 1px;
}

.wd-post-list-item-n {
    border: lightgrey solid 1px;
    border-top: none;
}

.wd-float-box {
    float: left;
}

.wd-fg-like {
    color: red;
}

.wd-badge-blue {
    color: #0d6efd;
}

.wd-fg-grey {
    color: rgb(110, 118, 125);
}

.wd-profile-name-head {
    font-size: medium;
    font-weight: bold;
}

.wd-accent-text {
    font-size: small;
    color: rgb(110, 118, 125);
}

.wd-font-bold {
    font-weight: bold;
}

.wd-edit-button {
    font-size: medium;
    font-weight: bold;
    background-color: transparent;
    border: rgb(110, 118, 125) solid 1px;
}

.wd-profile-img-position {
    position: relative;
    bottom: 80px;
}

.wd-profile-img-div {
    height: 50px;
}

.wd-save-button {
    color: white;
    background-color: black;
    border-color: black;
}

.wd-edit-box {
    border-color: rgb(110, 118, 125);
    resize: none;
    padding-top: 20px;
    padding-left: 9px;
}

.wd-edit-top {
    font-size: small;
    position: relative;
    top: 25px;
    left: 10px;
}

.wd-edit-date-button {
    border-color: transparent;
    color: #0d6efd;
    background-color: transparent;
}

.wd-date-space {
    margin-bottom: 170px;
}