.wd-btn-ovrd-shape {
    border-radius: 20px;
}

.wd-challenge-section .wd-btn-ovrd-shape:hover {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.wd-challenge-section .wd-btn-ovrd-shape-twt {
    border-radius: 20px;
    width: 100%;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.wd-flex-box-search {
    width: 85%;
}

.wd-challenge-section .wd-search-input-sm {
    width: 98%;
    height: 40px;
    border-radius: 20px;
}

.wd-challenge-section .wd-search-input-lg {
    width: 98%;
    height: 40px;
    border-radius: 20px;
}

.wd-search-input-sm::placeholder {
    padding-left: 30px;
}

.wd-search-input-sm:focus {
    padding-left: 32px;
}

.wd-challenge-section .nav-item a {
    color: rgb(110, 118, 125);
}

.wd-challenge-section .nav-item a:focus {
    border: 0 !important;
}

.wd-challenge-section .nav-item a:hover {
    border: 0 !important;
    color: black;
}

.wd-challenge-section .nav-item .active {
    border: 0 !important;
    color: black;
    font-weight: bold;
}

.wd-challenge-section .nav-item .active a:focus {
    border: 0 !important;
}

.wd-challenge-section .nav-item .active a:hover {
    border: 0 !important;
}

.wd-challenge-section .wd-nav-link-box {
    border-bottom: #0d6efd solid 3px !important;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    width: fit-content;
}

.wd-challenge-section .wd-headline-box-sm {
    color: white;
    height: 0px;
    position: relative;
    bottom: 70px;
    padding-left: 20px;
}

.wd-challenge-section .wd-headline-box-lg {
    color: white;
    height: 0px;
    position: relative;
    bottom: 80px;
    padding-left: 20px;
}

.wd-headline {
    color: white;
}

.wd-headline-relevance {
    color: white;
}

.wd-image-headline {
    width: 100%;
}

.wd-search-text {
    color: gray;
}

.wd-challenge-section .wd-search-input-sm {
    border-color: transparent;
    background-color: whitesmoke;
}

.wd-challenge-section .wd-search-input-lg {
    border-color: transparent;
    background-color: whitesmoke;
}

.wd-challenge-section .wd-search-input-sm:focus::placeholder {
    padding-left: 0px;
}

.wd-challenge-section .wd-search-input-lg::placeholder {
    padding-left: 32px;
}

.wd-challenge-section .wd-search-input-lg:focus {
    padding-left: 37px;
}

.wd-challenge-section .wd-search-input-sm:focus {
    padding-left: 37px;
}

.wd-challenge-section .wd-search-input-lg:focus::placeholder {
    padding-left: 0px;
}

.wd-challenge-section .wd-search-icon {
    position: relative;
    left: 20px;
    width: 1px;
}

.wd-challenge-section .flex-box-gear {
    width: 10%;
    color: black;
    position: relative;
    top: 4px;
}

.wd-profile-image {
    float: left;
    position: relative;
    top: 6px;
    right: 6px;
}

.wd-image-frame-business {
    border-radius: 2px;
}

.wd-image-frame-profile {
    border-radius: 20px;
}

.wd-follow-box {
    float: right;
}

.wd-profile-info {
    float: left;
    min-width: max-content;
}

.wd-profile-suggestion {
    min-width: max-content;
}

.wd-content-width {
    min-width: max-content;
}

.wd-float-done {
    clear: both;
}

.wd-image-headline-container {
    width: fit-content;
    max-width: content-box;
}

.wd-image-post-box img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.wd-post-relevance {
    color: rgb(110, 118, 125);
}

.wd-post-relevance b {
    color: black;
}

.list-group-item .wd-cs-item {
    border: 0 !important;
}

.wd-challenge-section .wd-cs-left-ovrd .list-group-item {
    border: none !important;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-challenge-section .wd-cs-right-ovrd .list-group-item {
    background-color: whitesmoke;
    border: none !important;
}

.wd-cs-button {
    color: white;
    background-color: black;
    border-color: black;
}

.wd-badge-blue {
    color: #1DA1F2;
}

.wd-badge-yellow {
    color: gold;
}

.wd-blue-hyperlink {
    color: #1DA1F2;
    text-decoration: none;
}

.wd-more-shuffle-left {
    position: relative;
    margin: 0;
    padding: 0;
}

.wd-promoted-box {
    margin-top: 1px;
    font-size: smaller;
}

.wd-challenge-section .wd-cs-left-ovrd .active {
    color: black !important;
    font-weight: bold !important;
    background-color: transparent !important;
}

.wd-cs-left-icon-box {
    text-align: center;
    float: left;
    width: 30%;
}

.wd-cs-left-text-box {
    float: left;
    width: 70%;
    position: relative;
    top: 10px;
}

.wd-move-left {
    right: 3%;
}

.wd-ellipsis-gray {
    color: rgb(110, 118, 125);
}

.wd-side-borders {
    border-left: lightgrey solid 1px;
    border-right: lightgrey solid 1px;
}

.wd-top-border {
    border-top: lightgrey solid 1px;
}

.wd-challenge-section .wd-cs-center-ovrd .list-group .list-group-item {
    border-radius: 0 !important;
}

.wd-challenge-section .wd-cs-center-ovrd .list-group .list-group-item {
    border: 0;
}

.wd-active-tab {
    border-bottom: #1DA1F2 solid 5px;
    width: fit-content;
}

.wd-hl-info {
    text-decoration: none;
    color: lightgrey;
    font-size: small;
}

.wd-hl-info:hover {
    color: black;
}

.wd-container-middle {
    display: flex;
    justify-content: left;
}

.wd-info-box {
    float: left;
    width: 33%;
    margin: 0;
}

.wd-info-box-last {
    float: left;
    width: 100%;
    margin: 0;
}

